<aside>
	<!DOCTYPE html>
        <h1>关于我</h1>
        <p>我十几岁的时候，就曾经想过这个问题，我是一个什么样的人呢？当时自己没有明确的想法，只是觉得书读的够多了，就能把这个问题想通了。</p>
        <p>现在我二十几岁了，我渐渐不再关注这个问题了。而变成关注这个问题的第二形态，我想成为一个什么样的人。</p>
        <p>如果说我的经历，概括来说是这样的。小学五年级以前生活在北方，小学五年级以后一直到大学毕业都在南方的一个海滨城市生活。毕业后选择了做iOS研发，想做出自己欣赏的产品。现在在北京，做全职的空气过滤机</p>

        <h3>Social Websites</h3>
        <a href="http://stackoverflow.com/users/1564584/johnma">
		<img src="http://stackoverflow.com/users/flair/1564584.png" width="208" height="58" alt="profile for johnMa at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for johnMa at Stack Overflow, Q&A for 	professional and enthusiast programmers"?theme=clean>
	</a>
        <br />
		<a class="button" href="https://github.com/songyingxinok">GitHub<i class="icon-circle-arrow-down"></i></a>		<br />
		<a class="button" href="http://careers.stackoverflow.com/johnsong">Career<i class="icon-circle-arrow-down"></i></a>
                
</aside>